body {
  font-family: 'Roboto';
}

.root {
  padding-left: 30px;
}

.filter-button {
  padding: 10px;
  background-color: rgba(231, 242, 242, 0.852);
  border: none;
  border-radius: 5px;
}

.filter-button-activate {
  background-color: #E66761;
}

.card-wrapper {
  margin: 10px 0;
}

.no-elixirs {
  margin: 10px 0;
}


